<%- model_class = Solicitacao -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name('Solicitante') %></th>
      <th><%= model_class.human_attribute_name("Tipo de solicitação") %></th>
      <th><%= model_class.human_attribute_name('Impresso') %></th>
      <th><%= model_class.human_attribute_name('Entregue') %></th>
      <th><%= model_class.human_attribute_name(:finalizado) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name('Iniciado em') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody align="CENTER">
    <% @solicitacoes.each do |solicitacao| %>
      <tr>
        <td><%= link_to solicitacao.id, solicitacao_path(solicitacao) %></td>
        <td><%= solicitacao.solicitavel.aluno.matricula %></td>
        <td><%= solicitacao.solicitavel_type %></td>
        <td><%= solicitacao.solicitavel.impresso %></td>
        <td><%= solicitacao.solicitavel.entregue %></td>
        <td><%= solicitacao.finalizado %></td>
        <td><%= solicitacao.status %></td>
        <td><%= solicitacao.created_at.strftime("%d/%m/%y às %H:%M ") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_solicitacao_path(solicitacao), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      solicitacao_path(solicitacao),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>