  <%= simple_form_for @solicitacao,url: solicitacoes_url(tipo:'ie'), remote: true do |f| %>
  <%= f.error_notification %>
  <div class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <strong>Selecione a matrícula para a solicitação</strong> &nbsp;<%= f.input :solicitante_id, collection: @pessoa.alunos.collect{|a|[a.matricula,a.id]}, label: false, include_blank: false %>
      </div>
      <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<br>
<div id="listagem_de_solicitacoes">
  <%= tabela_solicitacoes (@pessoa) %>
</div>
<br>