<div class="col-sm-12 col-md-12, row, well">
  <%= simple_form_for @turma, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :nome %>
    <%= f.input :codigo %>
    <%= f.input :nivel_id, :collection=>Nivel.all.collect {|z|[z.nome,z.id]},:prompt=>"Selecione o Nível", label: 'Teste de Nível Id' %>
    <div id='cursos'></div>
    <%= f.input :turno,:collection=>Turma.turnos.collect { |s| [s[0].humanize, s[0]] },:prompt=>"Selecione o Turno" %>
    <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                turmas_path, :class => 'btn btn-default' %>
  <% end %>
</div>