<%- model_class = Componente -%>
<div class="page-header">
  <h1 align='center'>Componente: <%= @componente.nome %></h1>
</div>
<div class="col-sm-12 col-md-12, row, well">
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:codigo) %>:</strong></dt>
    <dd><%#= @componente.codigo %></dd>
    <dt><strong><%= model_class.human_attribute_name(:nivel_id) %>:</strong></dt>
    <dd><%#= @componente.nivel.nome %></dd>
    <dt><strong>Duração:</strong></dt>
    <dd><%#= @componente.duracao %></dd>
    <dt><strong>Cadastrado em:</strong></dt>
    <dd><%#= @componente.created_at.strftime("%d/%m/%Y %H:%m") %></dd>
  </dl>
  <%= link_to t('.back', :default => t("helpers.links.voltar")),
              componentes_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.editar")),
              edit_componente_path(@componente), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.apagar")),
              componente_path(@componente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>