<div class="col-sm-6 col-md-7, thumbnail, center">
  <div>
    <%= f.input :nome, label: 'Nome' %>
    <%= f.input :tipo_componente,:collection=>Componente.tipo_componentes.collect { |s| [s[0].humanize, s[0]] },:prompt=>"Selecione o tipo de atividade", label: 'Natureza da atividade' %>
    <%= f.input :descricao, label: 'Ementa' %>
    <%= f.input :vagas, label: 'Vagas' %>
    <%= f.input :local,:collection=>Componente.locais.collect { |s| [s[0].humanize, s[0]] },:prompt=>"Selecione o Local", label: 'Local' %>
  </div>
</div>
<div class="col-sm-6 col-md-7, center">
  <div>
    <%=f.association :publicos,  collection: Publico.all.map {|r|[r.nome,r.id]}, input_html:{label_class: "checkbox"},as: :check_boxes, label: "Público Alvo" %>
    <%=f.association :ministrantes,  collection: Ministrante.all.map {|r|[r.nome,r.id]}, input_html:{label_class: "checkbox"},as: :check_boxes, label: "Ministrante(s)" %>
  </div>
  <div>
    <%= f.link_to_remove "Remover atividade?", :class => 'btn btn-danger btn-xs' %>
    <hr>
  </div>
</div>
<%#= f.simple_fields_for :periodos do |builder|%>
  <%#= render 'periodos', :f => builder %>
  <%# end %>
  <%#= f.link_to_add "Adicionar Período", :periodos, :class => 'btn btn-info btn-xs' %>
  <div class="col-sm-12 col-md-12, row, well">
    <%= f.link_to_add "Adicionar Período", :periodos, :class => 'btn btn-info btn-xs' %>
    <%= f.simple_fields_for :periodos do |builder|%>
      <%= render 'periodos', :f => builder %>
    <% end %>
  </div>
</div>