<div class="container, row">
  <div class="row">
    <div class="col-md-12">
      <div class="panel, well">
        <ul id="myTab1" class="nav nav-tabs nav-justified">
          <li class="active"><a href="#publicavel" data-toggle="tab">Publicável</a></li>
          <li><a href="#destaque" data-toggle="tab">Em destaque</a></li>
          <li><a href="#empauta" data-toggle="tab">Em pauta</a></li>
          <li><a href="#antigas" data-toggle="tab">Antigas</a></li>
          <!-- <li><a href="#todas" data-toggle="tab">Todas</a></li> -->
          <li class="dropdown">
            <a href="#" id="myTabDrop1-1" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
              <li><%= link_to t( '.new', :default=>t("helpers.links.Nova notícia")), new_noticia_path, :class => 'btn btn-primary' %></li>
            </ul>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="publicavel">
            <%- model_class = Noticia -%>
            <table class="table table-striped">
              <tbody>
                <% Noticia.publicavel.each do |publicavel| %>
                  <tr>
                    <td>
                      <p><span><%= image_tag "calendario.png" %></span>&nbsp;<%= publicavel.publicado_em.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;<strong><%= publicavel.titulo %></strong></p>
                      <%= truncate(publicavel.conteudo.html_safe, :length => 400, :omission => "" , :escape => false) %>...(continua)
                    </td>
                    <td  align='right'>
                      <button class="btn-default btn-xs" data-toggle="modal" data-target="#noticia-<%= publicavel.id %>-notes">Detalhes</button></td>
                    <!-- Modal -->
                    <div class="modal fade" id="noticia-<%= publicavel.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="noticia-<%= publicavel.id %>-label" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="noticia-<%= publicavel.id %>-label" align='center'><%= publicavel.titulo %></h4>
                          </div>
                          <div class="modal-body">
                            <div class='container'><%= truncate(publicavel.conteudo.html_safe, :length => 180, :omission => "" , :escape => false) %>...</div>
                            <hr>
                            <dl class="dl-horizontal">
                              <dt><strong>Redigida em:</strong></dt>
                              <dd><%= publicavel.created_at.strftime("%d/%m/%y às %H:%M") %></dd>
                              <dt><strong>Publicada em:</strong></dt>
                              <dd><%= publicavel.publicado_em.strftime("%d/%m/%y às %H:%M") %></dd>
                              <% if can? :update, Noticia %>
                                <dt><strong>Ações:</strong></dt>
                                <dd>
                                  <% if can? :manage, Noticia %>
                                    <%= link_to 'Colocar em destaque', noticia_alterar_status_path(publicavel,'destaque'), method: :put, :class => 'btn btn-primary btn-xs' %>
                                    <%= link_to 'Colocar em pauta', noticia_alterar_status_path(publicavel,'pauta'), method: :put, :class => 'btn btn-primary btn-xs' %>
                                  <% end %>
                                  <%= link_to t('.edit', :default => t("helpers.links.Editar")), edit_noticia_path(publicavel), :class => 'btn btn-default btn-xs' %>
                                <% end %>
                                <% if can? :destroy, Noticia %>
                                  <%= link_to t('.destroy', :default => t("helpers.links.Deletar")), noticia_path(publicavel), :method => 'delete',  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' %>
                                <% end %></dd>
                            </dl>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="destaque">
            <%- model_class = Noticia -%>
            <table class="table table-striped">
              <tbody>
                <% Noticia.destaque.each do |destaque| %>
                  <tr>
                    <td>
                      <p><span><%= image_tag "calendario.png" %></span>&nbsp;<%= destaque.publicado_em.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;<strong><%= destaque.titulo %></strong></p>
                      <%= truncate(destaque.conteudo.html_safe, :length => 400, :omission => "" , :escape => false) %>...(continua)
                    </td>
                    <td  align='right'>
                      <button class="btn-default btn-xs" data-toggle="modal" data-target="#noticia-<%= destaque.id %>-notes">Detalhes</button></td>
                    <!-- Modal -->
                    <div class="modal fade" id="noticia-<%= destaque.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="noticia-<%= destaque.id %>-label" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="noticia-<%= destaque.id %>-label" align='center'><%= destaque.titulo %></h4>
                          </div>
                          <div class="modal-body">
                            <div class='container'><%= truncate(destaque.conteudo.html_safe, :length => 180, :omission => "" , :escape => false) %>...</div>
                            <hr>
                            <dl class="dl-horizontal">
                              <dt><strong>Redigida em:</strong></dt>
                              <dd><%= destaque.created_at.strftime("%d/%m/%y às %H:%M") %></dd>
                              <dt><strong>Publicada em:</strong></dt>
                              <dd><%= destaque.publicado_em.strftime("%d/%m/%y às %H:%M") %></dd>
                              <% if can? :update, Noticia %>
                                <dt><strong>Ações:</strong></dt>
                                <dd>
                                  <% if can? :manage, Noticia %>
                                    <%= link_to 'Colocar em Pauta', noticia_alterar_status_path(destaque,'em_pauta'), method: :put, :class => 'btn btn-primary btn-xs' %>
                                    <%= link_to 'Arquivar', noticia_alterar_status_path(destaque,'arquivo'), method: :put, :class => 'btn btn-info btn-xs' %>
                                    <%= link_to 'Corrigir', noticia_alterar_status_path(destaque,'reavaliacao'), method: :put, :class => 'btn btn-warning btn-xs' %>
                                  <% end %>
                                  <%= link_to t('.edit', :default => t("helpers.links.Editar")), edit_noticia_path(destaque), :class => 'btn btn-default btn-xs' %>
                                <% end %>
                                <% if can? :destroy, Noticia %>
                                  <%= link_to t('.destroy', :default => t("helpers.links.Deletar")), noticia_path(destaque), :method => 'delete',  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' %>
                                </dd>
                              <% end %>
                            </dl>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="empauta">
            <%- model_class = Noticia -%>
            <table class="table table-striped">
              <tbody>
                <% Noticia.pauta.each do |pauta| %>
                  <tr>
                    <td>
                      <p><span><%= image_tag "calendario.png" %></span>&nbsp;<%= pauta.publicado_em.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;<strong><%= pauta.titulo %></strong></p>
                      <%= truncate(pauta.conteudo.html_safe, :length => 400, :omission => "" , :escape => false) %>...(continua)
                    </td>
                    <td  align='right'>
                      <button class="btn-default btn-xs" data-toggle="modal" data-target="#noticia-<%= pauta.id %>-notes">Detalhes</button></td>
                    <!-- Modal -->
                    <div class="modal fade" id="noticia-<%= pauta.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="noticia-<%= pauta.id %>-label" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="noticia-<%= pauta.id %>-label" align='center'><%= pauta.titulo %></h4>
                          </div>
                          <div class="modal-body">
                            <div class='container'><%= truncate(pauta.conteudo.html_safe, :length => 180, :omission => "" , :escape => false) %>...(continua)</div>
                            <hr>
                            <dl class="dl-horizontal">
                              <dt><strong>Redigida em:</strong></dt>
                              <dd><%= pauta.created_at.strftime("%d/%m/%y às %H:%M") %></dd>
                              <dt><strong>Publicada em:</strong></dt>
                              <dd><%= pauta.publicado_em.strftime("%d/%m/%y às %H:%M") %></dd>
                              <% if can? :update, Noticia %>
                                <dt><strong>Ações:</strong></dt>
                                <dd>
                                  <% if can? :manage, Noticia %>
                                    <%= link_to 'Colocar em destaque', noticia_alterar_status_path(pauta,'em_destaque'), method: :put, :class => 'btn btn-primary btn-xs' %>
                                    <%= link_to 'Arquivar', noticia_alterar_status_path(pauta,'arquivo'), method: :put, :class => 'btn btn-info btn-xs' %>
                                    <%= link_to 'Corrigir', noticia_alterar_status_path(pauta,'reavaliacao'), method: :put, :class => 'btn btn-warning btn-xs' %>
                                  <% end %>
                                  <%= link_to t('.edit', :default => t("helpers.links.Editar")), edit_noticia_path(pauta), :class => 'btn btn-default btn-xs' %>
                                <% end %>
                                <% if can? :destroy, Noticia %>
                                  <%= link_to t('.destroy', :default => t("helpers.links.Deletar")), noticia_path(pauta), :method => 'delete',  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' %>
                                <% end %></dd>
                            </dl>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="antigas">
            <%- model_class = Noticia -%>
            <table class="table table-striped">
              <% Noticia.arquivadas.each do |antiga| %>
                <tr>
                  <td>
                    <p><span><%= image_tag "calendario.png" %></span>&nbsp;<%= antiga.publicado_em.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;<strong><%= antiga.titulo %></strong></p>
                    <%= truncate(antiga.conteudo.html_safe, :length => 400, :omission => "" , :escape => false) %>...(continua)
                  </td>
                  <td  align='right'>
                    <button class="btn-default btn-xs" data-toggle="modal" data-target="#noticia-<%= antiga.id %>-notes">Detalhes</button></td>
                  <!-- Modal -->
                  <div class="modal fade" id="noticia-<%= antiga.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="noticia-<%= antiga.id %>-label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="noticia-<%= antiga.id %>-label" align='center'><%= antiga.titulo %></h4>
                        </div>
                        <div class="modal-body">
                          <div class='container'><%= truncate(antiga.conteudo.html_safe, :length => 180, :omission => "" , :escape => false) %>...(continua)</div>
                          <hr>
                          <dl class="dl-horizontal">
                            <dt><strong>Redigida em:</strong></dt>
                            <dd><%= antiga.created_at.strftime("%d/%m/%y às %H:%M") %></dd>
                            <dt><strong>Publicada em:</strong></dt>
                            <dd><%= antiga.publicado_em.strftime("%d/%m/%y às %H:%M") %></dd>
                            <% if can? :update, Noticia %>
                              <dt><strong>Ações:</strong></dt>
                              <dd>
                                <% if can? :manage, Noticia %>
                                  <%= link_to 'Colocar em destaque', noticia_alterar_status_path(antiga,'em_destaque'), method: :put, :class => 'btn btn-primary btn-xs' %>
                                  <%= link_to 'Arquivar', noticia_alterar_status_path(antiga,'arquivo'), method: :put, :class => 'btn btn-info btn-xs' %>
                                  <%= link_to 'Corrigir', noticia_alterar_status_path(antiga,'reavaliacao'), method: :put, :class => 'btn btn-warning btn-xs' %>
                                <% end %>
                                <%= link_to t('.edit', :default => t("helpers.links.Editar")), edit_noticia_path(antiga), :class => 'btn btn-default btn-xs' %>
                              <% end %>
                              <% if can? :destroy, Noticia %>
                                <%= link_to t('.destroy', :default => t("helpers.links.Deletar")), noticia_path(antiga), :method => 'delete',  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' %>
                              <% end %></dd>
                          </dl>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>