<%= simple_form_for @noticia, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="col-sm-12 col-md-12, row, well">
    <div class="col-sm-12 col-md-12">
      <p class="row"><strong>Data de publicação</strong><br>
        <%= f.date_select :publicado_em, label: 's' %></p>
      <%= f.input :titulo, label: 'Título' %>
      <%= f.input :conteudo, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }, label: 'Conteúdo' %>
    </div>
  </div>
  <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                noticias_path, :class => 'btn btn-default' %>
<% end %>