<%- model_class = Noticia -%>
<p id="notice"><%= notice %></p>
<h1 align="center"><%= @noticia.titulo %></h1>
<hr>
<div class="col-md-12, well">
  <div class="row">
    <div class="col-sm-12 col-md-12,  thumbnail">
      <p align="right"> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> publicado em <%= @noticia.publicado_em.strftime("%d/%m/%Y às %H:%M") %> </p>
      <div><%= @noticia.conteudo.html_safe %></div>
    </div>
  </div>
</div>
<br>
<%= link_to t('.back', :default => t("helpers.links.voltar")), noticias_path, :class => 'btn btn-default'  %>