<% if !@aluno.turma.nil?%>
<% else %>
  <%= f.input :nivel_id, :collection=>Nivel.all.collect {|z|[z.nome,z.id]}, include_blank: "Selecione o nível", label: 'Nível de ensino do curso'%>
<% end %>
<% if !@aluno.turma.nil?%>
  <div id='turnos'>
    <%=simple_fields_for :turma do |t|%>
      <%= f.input :nivel_id, :collection=>Nivel.all.collect {|z|[z.nome,z.id]},:prompt=>"Selecione o Nível", label: 'Nível de ensino do curso', input_html: {disabled: true}%>
      <%= t.input :turno, :collection=>Turma.turnos.collect { |s| [s[0].humanize, s[1]] },:prompt=>"Selecione o turno", label: 'Turno', selected: Turma.turnos[@aluno.turma.turno],input_html: {disabled: true}%>
      <%= t.input :curso_id, :collection=>Curso.joins(:turmas).where("turmas.turno = ?",Turma.turnos[@aluno.turma.turno]).uniq.collect{|c|[c.nome,c.id]},:prompt=>"Selecione o Curso",label: 'Curso', selected: @aluno.turma.curso.id,input_html: {disabled: true} %>
      <%= t.input :turma_id, :collection=>Turma.where(curso: @aluno.turma.curso,turno: Turma.turnos[@aluno.turma.turno]).collect{|t|[t.nome,t.id]},:prompt=>"Selecione a turma", label: 'Turma', selected: @aluno.turma.id, input_html: {disabled: true} %>
    <% end %>
  <% else %>
    <div id='turnos'></div>
  <% end %>
</div>