<div id="formulario_aluno">
  <%#= formulario_aluno (@aluno) %>
</div>
<%= simple_nested_form_for @aluno, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.error_notification %>
  <div class="col-sm-12 col-md-12, row, well">
    <div class="col-sm-5 col-md-7, thumbnail, center">
      <div align="CENTER">
        <% if @aluno.pessoa.foto.present? %>
          <%= image_tag(@aluno.pessoa.foto.url(:medium)) %>
          <%= f.simple_fields_for @pessoa do |p| %>
            <%= p.input :foto, as: :file, label: 'Atualizar foto' %>
          <% end -%>
        <% else %>
          <%= f.simple_fields_for @pessoa do |p| %>
            <%= image_tag("anonimo.jpg", size: "250") %>
            <%= p.input :foto, as: :file, label: false %>
          <% end %>
        <% end -%>
      </div>
      <div>
        <% if @aluno.curso_id.present? %>
          <p><strong>Curso:&nbsp;</strong><%= @aluno.curso_id %></p>
        <% else %>
          <%= @aluno.curso_id %>
        <% end %>
        <p><strong>Matrícula:&nbsp;</strong><%= @aluno.matricula %></p>
        <% if @aluno.turma==nil %>
        <% else %>
          <p><strong>Turma:&nbsp;</strong><%= @aluno.turma.nome %></p>
        <% end %>
        <p><strong>Ano de ingresso: &nbsp;</strong><%= @aluno.ano_ingresso %></p>
      </div>
    </div>
    <div class="col-sm-4 col-md-7">
      <% if can? :create, Aluno %>
        <%= render 'form_alunos', :f => f %>
      <% else %>
        <%= render 'form_meus_alunos', :f => f %>
      <% end %>
    </div>
  </div>
  <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancelar")),
                alunos_path, :class => 'btn btn-default' %>
<% end %>