<div id="formulario_aluno">
  <%#= formulario_aluno (@aluno) %>
</div>
<%= simple_nested_form_for @aluno, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.error_notification %>
  <div class="col-sm-12 col-md-12, row, well">
    <div class="col-sm-5 col-md-7, thumbnail, center">
      <div align="CENTER">
        <% if @aluno.pessoa.foto.present? %>
          <%= image_tag(@aluno.pessoa.foto.url(:medium)) %>
          <%= f.simple_fields_for @pessoa do |p| %>
            <%= p.input :foto, as: :file, label: 'Atualizar foto' %>
          <% end -%>
        <% else %>
          <%= f.simple_fields_for @pessoa do |p| %>
            <%= image_tag("anonimo.jpg", size: "250") %>
            <%= p.input :foto, as: :file, label: false %>
          <% end %>
        <% end -%>
      </div>
      <div>
        <table>
          <% if @aluno.curso_id.present? %>
            <tr>
              <td><strong>Curso:&nbsp;</strong></td>
              <td> <%= @aluno.curso_id %></td>
            </tr>
          <% else %>
            <%= @aluno.curso_id %>
          <% end %>
          <tr>
            <td><strong>Matrícula:&nbsp;</strong></td>
            <td> <%= @aluno.matricula %></td>
          </tr>
          <% if @aluno.turma==nil %>
          <% else %>
            <tr>
              <td><strong>Turma:&nbsp;</strong></td>
              <td> <%= @aluno.turma.nome %></td>
            </tr>
          <% end %>
          <tr>
            <td><strong>Ano de ingresso: &nbsp;</strong></td>
            <td> <%= @aluno.ano_ingresso %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-4 col-md-7">
      <% if can? :manage, @aluno %>
        <%= render 'manage', :f => f %>
      <% end -%>
    </div>
  </div>
  <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                alunos_path, :class => 'btn btn-default' %>
<% end %>