<%- model_class = Aluno -%>
<div class="page-header">
  <h1><%= @aluno.pessoa.nome %></h1>
</div>
<div class="col-sm-12 col-md-12, row, well">
  <div class="col-sm-5 col-md-7, thumbnail, center">
    <div align="CENTER">
      <% if @aluno.pessoa.foto.present? %>
        <%= image_tag(@aluno.pessoa.foto.url(:medium)) %>
      <% else %>
        <%= image_tag("anonimo.jpg", size: "250") %>
      <% end -%>
    </div>
  </div>
  <div class="col-sm-4 col-md-7">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:nascimento) %>:</strong></dt>
      <dd><%= @aluno.pessoa.nascimento.to_s_br %></dd>
      <dt><strong><%= model_class.human_attribute_name(:matricula) %>:</strong></dt>
      <dd><%= @aluno.matricula %></dd>
      <% if can? :manage, @aluno %>
        <dt><strong><%= model_class.human_attribute_name(:cpf) %>:</strong></dt>
        <dd><%= @aluno.pessoa.cpf %></dd>
        <dt><strong><%= model_class.human_attribute_name('Endereço') %>:</strong></dt>
        <dd>@aluno.pessoa.endereco a ser inserido na tabela</dd>
        <dt><strong><%= model_class.human_attribute_name('E-mail') %>:</strong></dt>
        <dd><%= @aluno.pessoa.usuario.email %> </dd>
      <% end -%>
      <dt><strong><%= model_class.human_attribute_name(:ano_ingresso) %>:</strong></dt>
      <dd><%= @aluno.ano_ingresso %></dd>
      <% if @aluno.turma==nil %>
      <% else %>
        <dt><strong>Turma: &nbsp;</strong></dt>
        <dd> <%= @aluno.turma.nome %></dd>
      <% end %>
    </dl>
  </div>
</div>
<div>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              alunos_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_aluno_path(@aluno), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              aluno_path(@aluno),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% if can? :manage, Aluno %>
    <%= link_to "Display PDF",  aluno_path(@aluno, format: "pdf" ),   :class  => 'btn btn-primary' %>
  <% end %>
</div>