<%= simple_form_for @pessoa, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="col-sm-12 col-md-12, row, well">
    <div class="col-sm-5 col-md-7, thumbnail, center">
      <div align="CENTER">
        <% if @pessoa.foto.present? %>
          <%= image_tag(@pessoa.foto.url(:medium)) %>
        <% else %>
          <%= image_tag("anonimo.jpg", size: "250x230") %><%= f.input :foto, as: :file, label: 'Atualizar foto' %>
        <% end %>
      </div>
      <div>
        <p><strong>Nascimento:</strong> <%= @pessoa.nascimento.strftime("%d/%m/%Y") unless @pessoa.nascimento.nil?%></p>
        <p><strong>E-mail:</strong> <%= @pessoa.email %></p>
        <p><strong>Endereço:</strong> <%= @pessoa.cpf %></p>
      </div>
    </div>
    <div class="col-sm-4 col-md-7">
      <%= f.input :nome %>
      <%= f.input :cpf %>
      <%= f.input :rg, label: 'Registro Geral (RG)' %>
      <%= f.input :fator_rh,:collection=>Pessoa.fator_rhs.collect { |s| [s[0].humanize, s[0]] },:prompt=>"Selecione", label: 'Tipagem Sanguínea' %>
      <%= f.input :telefone %>
      <%= f.input :email %>
      <div class="form-group">
        <label>Nascimento</label>
        <div><%= f.date_select :nascimento %></div>
      </div>
      <!--       <div class="container">
        <div class="form-group">
          <label class="row">Nascimento</label>
          <div class="form-inline">
            <div class='input-group date' id='datetimepicker10'>
              <%= f.input :nascimento, as: :string, label: false %> &nbsp;<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pessoas_path, :class => 'btn btn-default' %>
<% end %>