<%= simple_form_for @curso, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="col-sm-12 col-md-12, row, well">
    <%= f.input :nome %>
    <%= f.input :codigo %>
    <%= f.input :nivel_id,:collection=>Nivel.all.collect{|n|[n.nome,n.id]},:prompt=>"Selecione o Nível" %>
    <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancelar")),
                cursos_path, :class => 'btn btn-default' %>
  </div>
<% end %>