<h1>Listing pesquisas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pesquisas.each do |pesquisa| %>
      <tr>
        <td><%= pesquisa.nome %></td>
        <td><%= link_to 'Show', pesquisa %></td>
        <td><%= link_to 'Edit', edit_pesquisa_path(pesquisa) %></td>
        <td><%= link_to 'Destroy', pesquisa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pesquisa', new_pesquisa_path %>
