<!--Anotação para home: Verificar aplicação de <= destaque.publicado_em.strftime("%d/%m/%y") %> + before filter + authenticate
Anotação para notícia: inserir tags, data de publicação, campo boolean de publicação ('false') -->
<div class="container, col-sm-6 col-md-12">
  <!-- Carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to (image_tag "726x342.png"), root_path %>
        <div class="carousel-caption">
          <h3>Testde carousel número 1...</h3>
          <p>Descrição do testde carousel número 1...</p>
        </div>
      </div>
      <div class="item">
        <%= link_to (image_tag "1.jpg"), root_path %>
        <div class="carousel-caption">
          <h3>Inovação no IFAP</h3>
          <p>Chamando atenção sobre a criação do Grupo de Pesquisa</p>
        </div>
      </div>
      <div class="item">
        <%= link_to (image_tag "aniversario_napne.jpg"), root_path %>
        <div class="carousel-caption">
          <h3>Feliz aniversário!</h3>
          <p>Napne completa quatro anos de trabalho pela inclusão no câmpus Macapá</p>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-prev"></span></a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="icon-next"></span></a>
  </div>
  <!-- Fim do carousel-->
</br>
<div id="noticias" class="col-md-12, well">
  <h3>Notícias</h3>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <%- model_class = Noticia -%><% Noticia.destaque.each do |noticia| %>
        <div class="col-sm-12 col-md-12, row, thumbnail">
          <p align="CENTER"><strong><%= link_to noticia.titulo, noticia_path(noticia) %></strong></p>
          <p align="left"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;publicado em <%= noticia.publicado_em.strftime("%d/%m/%Y às %H:%M") %> </p>
          <div><%= truncate(noticia.conteudo.html_safe, :length => 800, :omission => "" , :escape => false) %>...&nbsp;<%= link_to 'Leia mais...', noticia_path(noticia) %></div>
        </div>
      <% end %>
    </div>
  </div>
  <h4>Outras notícias</h4>
  <%- model_class = Noticia -%>
  <%# Noticia.destaqued.each do |r| %>
    <% Noticia.pauta.each do |r| %>
      <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;<%= r.created_at.strftime("%d/%m/%Y") %>&nbsp;&nbsp;<%= link_to r.titulo, noticia_path(r) %></p>
    <% end %>
  </div>
  <!-- <div class="col-md-12, well">
  <!--   <h3>Eventos</h3> -->
  <!--   <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-12 col-md-12, row">
        <%- model_class = Evento -%><% @eventos.each do |evento| %>
          <div id="eventos" class="col-sm-4 col-md-6, thumbnail"> -->
  <!--<div class="thumbnail">ver esse aqui-->
  <!--             <%= link_to (image_tag "thumbnail-3.jpg"), root_path %>
            <div class="caption text-center" style='position:relative; top:-25px'>
              <h3><%= truncate(evento.nome, :length => 160) %></h3>
              <div style='position:absolute; top:90%; margin-left:20%'><a href="#" class="btn btn-warning" role="button  ">Informações</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div> -->
  <!-- </div> -->
</div>