<%= simple_form_for(@evento) do |f| %>
  <%= f.error_notification %>
  <%= abre_estilo_12_well %>
  <div class="form-inputs">
    <%= f.input :nome %>
  </div>
  <%= f.simple_fields_for :periodos do |builder|%>
    <%= render 'periodos', :p => builder %>
  <% end %>
  <div class="form-actions">
    <%= f.submit "Confirmar",:class => 'btn btn-primary' %>
  </div>
  <%= fecha_estilo_12_well %>
<% end %>