<div id='calendar'></div>
<% if can? :manage, Evento %>
  <h1>Lista de Eventos</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @eventos.each do |evento| %>
        <tr>
          <td><%= evento.nome %></td>
          <td><%= link_to 'Mostrar', evento %></td>
          <td><%= link_to 'Editar', edit_evento_path(evento) %></td>
          <td><%= link_to 'Apagar', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Novo Evento', new_evento_path %>
<% end %>
<% @participacoes.each do |o| %>
  <%= o.id %>
  <%= o.periodo.componente %>
  <%= o.frequencia %>
<% end %>