<%- model_class = Evento -%>
<div class="page-header" align='center'>
  <% if @evento.banner_file_name.present? %>
    <%= image_tag(@evento.banner(:banner)) %>
  <% else %>
    <h1 align='center'><%= @evento.nome %></h1>
  <% end %>
</div>
<%#= render :partial => 'pperiodos' %>
<%= render :partial => 'eventos/show/show' %>
<br>
<!-- </div>
</div> -->
<div>
  <%= link_to t('.back', :default => t("helpers.links.voltar")),
              eventos_path, :class => 'btn btn-default'  %>
  <% if can? :edit, Evento %>
    <%= link_to t('.edit', :default => t("helpers.links.editar")),
              edit_evento_path(@evento), :class => 'btn btn-default' %>
  <% end %>
  <% if can? :destroy, Evento %>
    <%= link_to t('.destroy', :default => t("helpers.links.apagar")),
              evento_path(@evento),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>