<%- model_class = Aluno -%>
<div class="page-header" align='center'>
  <h1>Confirmação de informações</h1>
  <h3><%= @aluno.pessoa.nome %></h3>
</div>
<div class="col-sm-12 col-md-12, row, well">
  <div class="col-sm-5 col-md-7, thumbnail, center">
    <div align="CENTER">
      <% if @aluno.pessoa.foto.present? %>
        <%= image_tag(@aluno.pessoa.foto.url(:medium)) %>
      <% else %>
        <%= image_tag("anonimo.jpg", size: "250") %>
        <p>Não se preocupe, sua foto será atualizada. :^)</p>
      <% end -%>
    </div>
    <div>
      <p align='center'><strong><%= @pessoa.nome %></strong></p>
      <p><strong>Nascimento:</strong> <%= @pessoa.nascimento.strftime("%d/%m/%Y") unless @pessoa.nascimento.nil?%></p>
      <p><strong>Cpf: </strong><%= @pessoa.cpf %></p>
    </div>
  </div>
  <div class="col-sm-4 col-md-7">
    <dl class="dl-horizontal">
      <h3 align='center'>Dados Pessoais</h3>
      <dt><strong>Sexo:</strong></dt>
      <dd><%= ver_form_nil(@aluno.pessoa.sexo) %></dd>
      <dt><strong>Nome da Mãe:</strong></dt>
      <dd><%= ver_form_nil(@aluno.pessoa.mae) %></dd>
      <dt><strong>Nome do Pai:</strong></dt>
      <dd><%= ver_form_nil(@aluno.pessoa.pai) %></dd>
      <dt><strong>Tipagem Sanguínea:</strong></dt>
      <dd><%= ver_form_nil(@aluno.pessoa.fator_rh) %></dd>
      <dt><strong>Registro Geral:</strong></dt>
      <dd><%= ver_form_nil(@aluno.pessoa.rg) %></dd>
      <dt><strong>Telefone:</strong></dt>
      <dd><%= ver_form_nil(@aluno.pessoa.telefone) %></dd>
      <dt><strong>E-mail:</strong></dt>
      <dd><%= @aluno.pessoa.email %> </dd>
      <div align='center'><%= link_to 'Revisar isto aqui', wizard_path(:dados_pessoais), :class => 'btn btn-warning btn-xs' %></div>
      <hr>
      <h3 align='center'>Dados Discentes</h3>
      <dt><strong>Matrícula:</strong></dt>
      <dd><%= ver_form_nil(@aluno.matricula) %></dd>
      <dt><strong>Ano de ingresso:</strong></dt>
      <dd><%= ver_form_nil(@aluno.ano_ingresso) %></dd>
      <dt><strong>Nível de ensino:</strong></dt>
      <dd><%= ver_form_nil(@aluno.turma.nivel.nome) %></dd>
      <dt><strong>Curso: &nbsp;</strong></dt>
      <dd> <%= ver_form_nil(@aluno.turma.curso.nome) %></dd>
      <dt><strong>Turma:</strong></dt>
      <dd><%= ver_form_nil(@aluno.turma.nome) %></dd>
      <dt><strong><%= model_class.human_attribute_name(:turno) %>:</strong></dt>
      <dd><%= ver_form_nil(@aluno.turma.turno) %></dd>
      <div align='center'><%= link_to 'Revisar isto aqui', wizard_path(:dados_discentes), :class => 'btn btn-warning btn-xs' %></div>
    </dl>
  </div>
</div>
<div align='center'><%= link_to 'Correr para o abraço!', next_wizard_path, :class => 'btn btn-primary' %></div>