<br>
<div class="well">
  <h3 align='center'>Resumo</h3>
  <dl class="dl-horizontal">
    <dt>Evento:</dt>
    <dd><%= @evento.nome %></dd>
    <dt>Responsável:</dt>
    <dd><%= @evento.responsavel.pessoa.nome %> - <%= @evento.responsavel.departamento %></dd>
    <dt>Criação do evento:</dt>
    <dd><%= @evento.created_at.strftime("%d de %B") %></dd>
    <dt>Status:</dt>
    <dd><%= status(@evento.status) %></dd>
    <dt>Componentes:</dt>
    <dd><%= @evento.componentes.count %></dd>
    <dt>Inscrições:</dt>
    <dd><%= @evento.participacoes.count %></dd>
    <dt>Opções:</dt>
    <dd>
      <% if can? :update, @evento %>
        <% if @evento.status == 'criado' %>
          <%= link_to 'Enviar para customização', evento_alterar_status_path(@evento,'customizar'), method: :put, :class => 'btn btn-primary btn-xs' %>
        <% elsif @evento.status == 'em_customizacao' %>
          <%= link_to 'Liberar acesso', evento_alterar_status_path(@evento,'liberar_acesso'), method: :put, :class => 'btn btn-primary btn-xs' %>
        <% elsif @evento.status == 'acesso_liberado' %>
          <%= link_to 'Liberar inscrições', evento_alterar_status_path(@evento,'abrir_incricoes'), method: :put, :class => 'btn btn-primary btn-xs' %>
        <% elsif @evento.status == 'inscricoes_iniciadas' %>
          <%= link_to 'Finalizar inscrições', evento_alterar_status_path(@evento,'fechar_inscricoes'), method: :put, :class => 'btn btn-primary btn-xs' %>
          <%= link_to 'Registrar frequência', frequencia_evento_path, :class => 'btn btn-primary btn-xs' %>
        <% elsif @evento.status == 'inscricoes_finalizadas' %>
          <%= link_to 'Concluir evento', evento_alterar_status_path(@evento,'finalizar'), method: :put, :class => 'btn btn-primary btn-xs' %>
          <%= link_to 'Registrar frequência', evento_alterar_status_path(@evento,'finalizar'), method: :put, :class => 'btn btn-primary btn-xs' %>
        <% elsif @evento.status == 'finalizado' %>
          <%= link_to 'Arquivar', evento_alterar_status_path(@evento,'arquivar'), method: :put, :class => 'btn btn-primary btn-xs' %>
        <% else %>
          <a data-toggle="tooltip" class="btn btn-primary btn-xs" data-placement="left" title="Muita calma nessa hora... as inscrições ainda não foram liberadas ;~(">Indisponível</a>
        <% end %>
      <% end %>
    </dd>
  </dl>
  <% if @evento.status == 'inscricoes_iniciadas' or @evento.status == 'inscricoes_finalizadas' %>
    <hr>
    <h3 align='center'>Componentes</h3>
    <table class="table table-striped table-hover table-bordered table-condensed">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Vagas</th>
          <th>Cronograma</th>
          <th>local</th>
          <th>Tipo de Componente</th>
          <th>Formato</th>
        </tr>
      </thead>
      <tbody>
        <% for componente in @evento.componentes %>
        <tr>
          <td><%= componente.id  %></td>
          <td><%#= best_in_place_if (can? :update, componente), componente, :nome, as: :input,  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %><%= componente.nome  %></td>
          <td>
            <% if componente.participacoes.present? %>
              <%#= componente.vagas - componente.participacoes.count%> <!-- de --> <%#= best_in_place_if (can? :update, componente), componente, :vagas, as: :input,  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %> <!-- vagas disponíveis  -->
              <%= componente.vagas  %>
            <% else %>
              <%#= best_in_place_if (can? :update, componente), componente, :vagas, as: :input,  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %>
            <% end %>
          </td>
          <td><%= componente.inicio.strftime("%d de %B de %Y às %H:%M")  %><%#= best_in_place_if (can? :update, componente), componente, :inicio, as: :input,  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %></td>
          <%#= best_in_place @user, :country, :as => :select, :collection => [[1, 'Spain'], [3, 'Germany'], [2, 'Italy'], [4, 'France']] %>
          <td><%= componente.local  %><%#= best_in_place_if (can? :update, componente), componente, :local, :as => :select, :collection => [['Auditório','Auditório'],['Hall do Auditório','Hall do Auditório'],['Biblioteca','Biblioteca'],['Laboratório','Laboratório'],['Hall de entrada do IFAP','Hall de entrada do IFAP'],['Sala de aula 1','Sala de aula 1'],['Sala de aula 2','Sala de aula 2'],['Sala de aula 3','Sala de aula 3'],['Sala de aula 4','Sala de aula 4'],['Sala de aula 5','Sala de aula 5'],['Sala de aula 6','Sala de aula 6'],['Sala de aula 7','Sala de aula 7'],['Sala de aula 8','Sala de aula 8'],['Sala de aula 9','Sala de aula 9'],['Sala de aula 10','Sala de aula 10'],['Sala de aula 11','Sala de aula 11'],['Sala de aula 12','Sala de aula 12'],['Sala de aula 13','Sala de aula 13'],['Sala de aula 14','Sala de aula 14'],['Sala de aula 15','Sala de aula 15'],['Sala de aula 16','Sala de aula 16'],['Sala de aula 17','Sala de aula 17'],['Sala de aula 18','Sala de aula 18'],['Sala de aula 19','Sala de aula 19'],['Sala de aula 20','Sala de aula 20'],['Sala de aula 21','Sala de aula 21'],['Sala de aula 22','Sala de aula 22'],['Sala de aula 23','Sala de aula 23'],['Sala de aula 24','Sala de aula 24']],  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %></td>
          <td><%= componente.tipo_componente  %><%#= best_in_place_if (can? :update, componente), componente, :tipo_componente, :as => :select, :collection => [['Palestra','Palestra'],['Seminário','Seminário'],['Minicurso','Minicurso'],['Mesa redonda','Mesa redonda'],['Mostra Técnica','Mostra Técnica'],['Atividade Cultural','Atividade Cultural'],['Apresentação','Apresentação'],['Concurso','Concurso'],['Anúncio','Anúncio'],['Curso','Curso'],['Experimento didático','Experimento didático']],  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %></td>
          <td><%= componente.tipo  %><%#= best_in_place_if (can? :update, componente), componente, :tipo, :as => :select, :collection=>Componente.tipos.collect { |t| [t[0].humanize, t[0]] },  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %>
            <%#= best_in_place_if (can? :update, componente), componente, :tipo, :as => :select, :collection => [[1, 'Atividade com credenciamento'], [2, 'Atividade comum'], [3, 'Protocolo de cerimonial']],  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %>
            <%#= best_in_place_if (can? :update, componente), componente, :tipo, :as => :select, :collection => [['Atividade com credenciamento', 'Atividade com credenciamento'], ['Atividade comum', 'Atividade comum'], ['Protocolo de cerimonial', 'Protocolo de cerimonial']],  path: evento_path(@evento.id), param: "evento[componentes_attributes][id]=#{componente.id}&evento[componentes_attributes]" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>