<div class='well'>
  <% @componentes.each do |componente| %>
    <div class="panel panel-default">
      <p align='left' data-toggle="collapse" data-parent="#accordion" href="#evento-<%= componente.id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<% if componente.tipo_componente.present? %><%= componente.tipo_componente%>: <% end %><b><%= componente.nome %></b></p>
    </div>
    <div id="evento-<%= componente.id %>" class="panel-collapse collapse">
      <% if componente.descricao.present? %>
        <p align='center'><strong>Ementa:</strong><br>
          <%= componente.descricao.html_safe %></p>
      <% end %>
      <dl class="dl-horizontal">
        <dt><strong>Vagas</strong>:</dt>
        <dd><%= componente.vagas %></dd>
        <dt><strong>Público Alvo</strong>:</dt>
        <% if componente.publicos.present? %>
          <dd class="btn-default btn-xs"><%= componente.publicos.collect{|p|p.nome}.to_sentence %></dd>
        <% else %>
          <dd>Em definição ;)</dd>
        <% end %>
        <dt><strong>Ministrante</strong>:</dt>
        <dd><% for ministrante in componente.ministrantes %><%= ministrante.titulo %> <%= ministrante.nome %><%= ministrante.organizacao %><%= ministrante.biografia %><% end %></dd>
      <dt><strong>Local</strong>:</dt>
      <dd><%=  componente.local %></dd>
      <dt><strong>Opções:</strong></dt>
      <dd><a data-toggle="tooltip" class="btn btn-primary btn-xs" data-placement="left" title="Muita calma nessa hora... as inscrições ainda não foram liberadas ;~(">Inscrições</a>
      </dd>
    </dl>
  </div>
<% end %>
</div>