<div class='panel-heading'>
  <% @periodos_por_dia.each do |data, periodos| %>
    <h4 class='panel-title'>
      <div class='panel-group' id='accordion' role='tablist' aria-multiselectable='true'>
        <div class='panel panel-default'>
          <!-- <div class='panel-heading' role='tab' id='evento-#{objeto_principal.id}-label'> -->
          <div class='panel-heading' role='tab' id='evento-<%= data.to_i %>-label'>
            <h4 class='panel-title'><a role='button' data-toggle='collapse' data-parent='#accordion' href='#evento-<%= data.to_i %>' aria-expanded='true' aria-controls='evento-<%= data.to_i %>'>
                <h4 align='center'><strong><%= data.to_date.strftime("%A, %d de %B de %y") %></strong>
                </h4>
              </a>
            </h4>
          </div>
          <div id='evento-<%= data.to_i %>' class='panel-collapse collapse' role='tabpanel' aria-labelledby='evento-<%= data.to_i %>-label'>
            <% periodos.each do |periodo| %>
              <div class='panel-body' align='left' data-toggle="collapse" data-parent="#accordion" href="#evento-<%= periodo.id %>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"><%= periodo.componente.nome %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </h4>
  <% end %>
</div>
<% @periodos_por_dia.each do |data, periodos| %>
  <div class="container, row">
    <div class='well'>
      <h4 class='panel-title' align='center'>
        <strong><%= data.to_date.strftime("%A, %d de %B de %y") %></strong>
      </h4>
      <hr>
      <% periodos.each do |periodo| %>
        <div>
          <p align='left' data-toggle="collapse" data-parent="#accordion" href="#evento-<%= periodo.id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<%= periodo.inicio.strftime("%H:%M") %> - <%= periodo.componente.tipo_componente%>: <b><%= periodo.componente.nome %></b></p>
          <div id="evento-<%= periodo.id %>" class="panel-collapse collapse">
            <dl class="dl-horizontal">
              <dt><strong>Vagas</strong>:</dt>
              <dd><%= periodo.componente.vagas %></dd>
              <dt><strong>Público Alvo</strong>:</dt>
              <% if periodo.componente.publicos.present? %>
                <% for publico in periodo.componente.publicos %>
                <dd class="btn-default btn-xs"> <%= h publico.nome %></dd>
              <% end %>
            <% else %>
              <dd>Nada</dd>
            <% end %>
            <dt><strong>Ministrante</strong>:</dt>
            <dd><% for ministrante in periodo.componente.ministrantes %><%= ministrante.titulo %> <%= ministrante.nome %><%= ministrante.organizacao %><%= ministrante.biografia %><% end %></dd>
          <dt><strong>Local</strong>:</dt>
          <dd><%#=  periodo.componente.local %></dd>
        </dl>
      </div>
    </div>
  <% end %>
</div>
</div>
<% end %>
<% @periodos_por_dia.each do |data, periodos| %>
  <!-- <div  class="well"> -->
  <h3 align='center'><strong><%= data %></strong></h3>
  <hr>
  <% periodos.each do |periodo| %>
    <p align='left' data-toggle="collapse" data-parent="#accordion" href="#evento-<%= periodo.id %>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <b><%= periodo.inicio.strftime("%H:%M") %></b> - <%= periodo.componente.tipo_componente%>: <%= periodo.componente.nome %></p>
    <!-- <div class="panel panel-default"> -->
    <div id="evento-<%= periodo.id %>" class="panel-collapse collapse">
      <%#= render :partial => 'eventos/show/componente' %>
      <!-- <div class="col-sm-12 col-md-12, row, well"> -->
      <%# if periodo.componente.descricao.present? %>
      <!-- <p align='center'><strong>Ementa:</strong><br> -->
      <%#= periodo.componente.descricao.html_safe %></p>
    <%# else %>
    <!-- <p></p> -->
    <%# end %>
    <dl class="dl-horizontal">
      <dt><strong>Vagas</strong>:</dt>
      <dd><%= periodo.componente.vagas %></dd>
      <!-- <dt><strong>Público Alvo</strong>:</dt> -->
      <%# if periodo.componente.publicos.present? %>
      <%# for publico in periodo.componente.publicos %>
      <!-- <dd class="btn-default btn-xs"> <%#= h publico.nome %></dd> -->
      <%# end %>
      <%# else %>
      <!-- <dd>Nada</dd> -->
      <%# end %>
      <!-- <dt><strong>Ministrante</strong>:</dt> -->
      <!-- <dd><%# for ministrante in periodo.componente.ministrantes %><%#= ministrante.titulo %> <%#= ministrante.nome %><%#= ministrante.organizacao %><%#= ministrante.biografia %><%# end %></dd> -->
      <!-- <dt><strong>Local</strong>:</dt> -->
      <!-- <dd><%#=  periodo.componente.local %></dd> -->
    </dl>
    <!-- </div> -->
  </div>
  <!-- </div> -->
<% end %>
<!-- </div> -->
<% end %>