<%#- model_class = Evento -%>
<br>
<% Evento.ativos.each do |evento| %>
  <%# @eventos.ativos.each do |evento|%>
    <div class="thumbnail">
      <% if evento.banner_file_name.present? %>
        <p align='left'>
          &nbsp;&nbsp;<span class="glyphicon glyphicon-calendar" aria-hidden="true">
          </span>&nbsp;
              <strong><%= link_to evento.nome, evento_path(evento) %>&nbsp;&nbsp;<% if can? :create, Evento %><%= status(evento.status) %><% end %></strong>
        </p>
        <%= image_tag(evento.banner(:banner)) %>
      <% else %>
        <p align='left'>
          &nbsp;&nbsp;<span class="glyphicon glyphicon-calendar" aria-hidden="true">
          </span>&nbsp;
              <strong><%= link_to evento.nome, evento_path(evento) %>&nbsp;&nbsp;<%= status(evento.status) %></strong>
          <%= evento.descricao.html_safe %>
        </p>
      <% end %>
      <div>
        <p class="btn-default btn-xs" data-toggle="modal" data-target="#evento-<%= evento.id %>-notes" align='center'>
          <% if evento.status == 'inscricoes_iniciadas' %>Informações e inscrição<% elsif evento.status == 'acesso_liberado' %>Informações<% elsif evento.status == 'inscricoes_finalizadas' %>Certificados<% end %>
        </p>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="evento-<%= evento.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="evento-<%= evento.id %>-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="evento-<%= evento.id %>-label" align='center'>
              <%= evento.nome %>
            </h4>
          </div>
          <div class="modal-body">
            <p><%= evento.descricao.html_safe %></p>
            <% if evento.componentes.present?%>
              <hr>
              <p>
                <strong>
                  <% if evento.componentes.count == 1 %>
                    Destaque:
                      <% else %>
                    Destaques:
                          <% end %>
                </strong>
              </p>
              <% evento.componentes.destaques_do_evento(evento).each do |componente| %>
                <ul>
                  <li><%=  componente.tipo_componente %>: <%=  componente.nome %></li>
                  <% if evento.componentes.count > 1 %>
                    <li>E outros mais...</li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= link_to 'Quero saber mais sobre isso!', evento, :class => 'btn btn-primary' %>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  <% end %>