<%- model_class = Evento -%>
<table class="table table-striped">
  <tbody>
    <% Evento.ativos.each do |evento| %>
      <tr>
        <% if evento.descricao.present? %>
          <td>
            <p align='justify'><span><%= image_tag "calendario.png" %></span>&nbsp;<%#= publicavel.publicado_em.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;<strong><%= link_to evento.nome, evento_path(evento) %></strong></p>
            <%= evento.descricao.html_safe %></td>
        <% else %>
          <td>em desenvolvimento</td>
        <% end %>
        <td  align='left'>
          <button class="btn-default btn-xs" data-toggle="modal" data-target="#solicitacao-<%= evento.id %>-notes">
            <% if evento.status == 'inscricoes_iniciadas' %>Informações e Inscrição<% elsif evento.status == 'acesso_liberado' %>Informações<% elsif evento.status == 'inscricoes_finalizadas' %>Certificados<% end %></button></td>
        <!-- Modal -->
        <div class="modal fade" id="solicitacao-<%= evento.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="solicitacao-<%= evento.id %>-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="solicitacao-<%= evento.id %>-label" align='center'>
                  <%= evento.nome %>
                </h4>
              </div>
              <div class="modal-body">
                <p><%= evento.descricao.html_safe %></p>
                <% if evento.componentes.count>1 %>
                  <hr>
                  <h4>Destaques:</h4>
                  <% for componente in evento.componentes %>
                  <ul>
                    <li><%=  componente.tipo_componente %>: <%= componente.nome %></li>
                  </ul>
                <% end %>
              <% else %>
              <% end %>
            </div>
            <div class="modal-footer">
              <%= link_to 'Quero saber mais sobre isso!', evento, :class => 'btn btn-primary' %>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
    <% end %>
  </tbody>
</table>