<%- model_class = Evento -%>
<% Evento.ativos.each do |evento| %>
  <div class="col-sm-4 col-md-6">
    <div class="thumbnail">
      <% if evento.logo.present? %>
        <div class="div_fixa">
          <a data-toggle="tooltip" data-placement="left" title="<%= evento.nome %>"><%= image_tag(evento.logo(:logo)) %></a>
        </div>
      <% else %>
        <div class="div_fixa">
          <h4 align = 'center'><%= truncate(evento.nome, :length => 160) %></h4>
        </div>
      <% end %>
      <div align='center'><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#evento-<%= evento.id %>-notes">
          Detalhes
              </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="evento-<%= evento.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="evento-<%= evento.id %>-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="evento-<%= evento.id %>-label" align='center'><%= evento.nome %></h3>
            </div>
            <div class="modal-body" >
              <p><%= evento.descricao.html_safe %></p>
              <% if evento.componentes.present?%>
                <hr>
                <p><strong><% if evento.componentes.count == 1 %>Destaque:<% else %>Destaques:
                          <% end %></strong></p>
                <% @componentes.destaques_do_evento(evento).each do |componente| %>
                  <ul>
                    <li><%=  componente.tipo_componente %>: <%=  componente.nome %></li>
                  </ul>
                <% end %>
              <% else %>
              <% end %>
            </div>
            <div class="modal-footer">
              <%= link_to 'Quero saber mais sobre isso!', evento, :class => 'btn btn-primary' %>
              <button type="button" class="btn btn-defaut btn-xs" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
    </div>
  </div>
<% end %>