<%#= render "xindex" %>
<div class="container, row">
  <div class="row">
    <div class="col-md-12">
      <div class="panel, well">
        <ul id="myTab1" class="nav nav-tabs nav-justified">
          <li class="active"><a href="#destaque" data-toggle="tab">Em destaque</a></li>
          <li><a href="#empauta" data-toggle="tab">Em pauta</a></li>
          <li><a href="#outrasnot" data-toggle="tab">Antigas</a></li>
          <li><a href="#todas" data-toggle="tab">Todas</a></li>
          <li class="dropdown">
            <a href="#" id="myTabDrop1-1" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
              <li><%= link_to t( '.new', :default=>t("helpers.links.Nova notícia")), new_noticia_path, :class => 'btn btn-primary' %></li>
            </ul>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="destaque">
            <%- model_class = Noticia -%>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:titulo) %></th>
                  <th><%= model_class.human_attribute_name("publicação") %></th>
                  <th><%= model_class.human_attribute_name("criação") %></th>
                  <th><%= model_class.human_attribute_name("criado em") %></th>
                  <th><% if can? :update, :destroy, @destaque %><%=t '.actions', :default => t("helpers.ações") %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @destaques.each do |destaque| %>
                  <tr>
                    <td><%= destaque.titulo %></td>
                    <td><%= destaque.publicado_em %></td>
                    <td><%= destaque.created_at.strftime("%d/%m/%y %H %M ") %></td>
                    <td><%= destaque.created_at %></td>
                    <td>
                      <% if can? :update, @destaque %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_noticia_path(destaque), :class => 'btn btn-default btn-xs' %><% end -%>
                      <% if can? :destroy, @destaque %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), noticia_path(destaque), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %> <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="empauta">
            <%- model_class = Noticia -%>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:titulo) %></th>
                  <th><%= model_class.human_attribute_name("publicação") %></th>
                  <th><%= model_class.human_attribute_name("criação") %></th>
                  <th><%= model_class.human_attribute_name("criado em") %></th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @pautas.each do |pauta| %>
                  <tr>
                    <td><%= pauta.titulo %></td>
                    <td><%= pauta.publicado_em %></td>
                    <td><%= pauta.created_at.strftime("%d/%m/%y %H %M ") %></td>
                    <td><%= pauta.created_at %></td>
                    <td>
                      <% if can? :update, @pauta %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_noticia_path(pauta), :class => 'btn btn-default btn-xs' %><% end %>
                      <% if can? :update, @pauta %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), noticia_path(pauta), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %><% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="outrasnot">
            <%- model_class = Noticia -%>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:titulo) %></th>
                  <th><%= model_class.human_attribute_name("publicação") %></th>
                  <th><%= model_class.human_attribute_name("criação") %></th>
                  <th><%= model_class.human_attribute_name("criado em") %></th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @antigas.each do |antiga| %>
                  <tr>
                    <td><%= antiga.titulo %></td>
                    <td><%= antiga.publicado_em %></td>
                    <td><%= antiga.created_at.strftime("%d/%m/%y %H %M ") %></td>
                    <td><%= antiga.created_at %></td>
                    <td>
                      <% if can? :update, @antiga %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_noticia_path(antiga), :class => 'btn btn-default btn-xs' %><% end %>
                      <% if can? :update, @antiga %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), noticia_path(antiga), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %><% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="todas">
            <%- model_class = Noticia -%>
            <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:titulo) %></th>
                  <th><%= model_class.human_attribute_name("publicação") %></th>
                  <th><%= model_class.human_attribute_name("criado em") %></th>
                  <th><%= model_class.human_attribute_name(:destaque) %></th>
                  <th><%= model_class.human_attribute_name(:pauta) %></th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @noticias.each do |noticia| %>
                  <tr>
                    <td><%= noticia.titulo %></td>
                    <td><%= noticia.publicado_em %></td>
                    <td><%= noticia.created_at.strftime("%d/%m/%y %H %M ") %></td>
                    <td><%= noticia.destaque %></td>
                    <td><%= noticia.pauta %></td>
                    <td>
                      <% if can? :update, @noticia %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_noticia_path(noticia), :class => 'btn btn-default btn-xs' %><% end %>
                      <% if can? :update, @noticia %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), noticia_path(noticia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %><% end %>
                    </td>
                    <td>
                      <% if noticia.id? %>
                        <!-- Button trigger modal -->
                        <button class="btn btn-link" data-toggle="modal" data-target="#noticia-<%= noticia.id %>-notes">
                          View notes
  </button>
                        <!-- Modal -->
                        <div class="modal fade" id="noticia-<%= noticia.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="noticia-<%= noticia.id %>-label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="noticia-<%= noticia.id %>-label">Notes</h4>
                              </div>
                              <div class="modal-body">
                                <%= noticia.titulo %>
                                <%#= render 'modal' %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>