<%#= simple_form_for(@noticia), remote: true do |f| %>
  <%= simple_form_for(@noticia) do |f| %>
    <%= f.error_notification %>
    <%# if can? :update, @noticia %>
    <table class="table table-striped">
      tornar isso um modal do tipo "Ações do Gerenciador (role ascom) para conteúdo"

       
        
      
      
      <thead>
        <tr>
          <th>Publicação</th>
          <th>Destaque</th>
          <th>Pauta</th>
          <th>Teste JS D/P</th>
          <th>Data de publicação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>helper -> <%= @noticia.publicado %><%= f.input :publicado %></td>
          <td>hlpr-> <%= @noticia.destaque %><%= f.input :destaque %></td>
          <td>hlpr-> <%= @noticia.pauta %><%= f.input :pauta %></td>
          <td>hlpr-> <%= @noticia.pauta %><%= f.input :pauta %></td>
          <td><%= @noticia.publicado_em %><%= f.input :publicado_em, :as => :datetime_picker, label: false  %></td>
        </tr>
      </tbody>
    </table>
    <%# end %>
    <div class="form-inputs">
      <%= f.input :publicado_em, :as => :datetime_picker, label: false  %>
      <%= f.input :titulo, placeholder: 'informações sobre o "validates_length_of" e aqui.', hint: 'Setar o "validates_length_of" aqui.' %>
      <%= f.input :conteudo, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
  <%= simple_form_for @pessoa, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <div class="col-sm-12 col-md-12, row, well">
      <div class="col-sm-5 col-md-7, thumbnail, center">
        <div align="CENTER">
          <%#= simple_nested_form_for @aluno, :html => { :class => 'form-vertical' } do |f| %>
            <%= image_tag(@pessoa.foto.url(:medium)) %><%= f.input :foto, as: :file, label: 'Atualizar foto' %>
          </div>
          <div>
            <p><strong>Nascimento:</strong> <%= @pessoa.nascimento.strftime("%d/%m/%Y") unless @pessoa.nascimento.nil?%></p>
            <p><strong>E-mail:</strong> <%= @pessoa.email %></p>
            <p><strong>Endereço:</strong> <%= @pessoa.cpf %></p>
          </div>
        </div>
        <div class="col-sm-4 col-md-7">
          <%= f.input :nome %>
          <%= f.input :cpf %>
          <%= f.input :rg %>
          <%= f.input :nascimento, :as => :datetime_picker %>
          <%= f.input :email %>
        </div>
      </div>
      <%#= f.button :submit, :class => 'btn-primary' %>
      <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                alunos_path, :class => 'btn btn-default' %>
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pessoas_path, :class => 'btn btn-default' %>
    <% end %>