<!--Anotação para home: Verificar aplicação de <= destaque.publicado_em.strftime("%d/%m/%y") %> + before filter + authenticate
Anotação para notícia: inserir tags, data de publicação, campo boolean de publicação ('false') -->
<div class="container, col-sm-6 col-md-12">
  <!-- Carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    </ol>
  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
          <%= link_to (image_tag "726x342.png"), root_path %>
          <div class="carousel-caption">
            <h3>Kunda...</h3>
            <p>Sunda</p>
          </div>
      </div>
      <div class="item">
        <%= link_to (image_tag "455x262.png"), root_path %>
        <div class="carousel-caption">
          <h3>Xunda...</h3>
              <p>Bunda</p>
          </div>
        </div>
    </div>    
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev"></span></a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next"></span></a>
  </div>
</br>
<div id="noticias" class="col-md-12, well">
  <h3>Notícias</h3>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <%- model_class = Noticia -%><% @destaques.each do |destaque| %>
        <div class="col-sm-12 col-md-12, row">
          <div class="col-sm-4 col-md-6, thumbnail">
            <div class="thumbnail">
              <%= link_to image_tag(destaque.capa.url(:medium)), noticia_path(destaque) %>
            </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <p align="CENTER"><strong><%= link_to destaque.titulo, noticia_path(destaque) %></strong></p>
              <p align="JUSTIFY"><%= truncate(destaque.resumo, :length => 160) %><br> <p align="RIGHT"><%= link_to 'Leia mais...', noticia_path(destaque) %></p></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <h4>Outras notícias</h4>
    <%- model_class = Noticia -%>
    <% @pautas.each do |r| %>
    <p><%= link_to r.titulo, noticia_path(r) %> - publicado em <%= r.created_at.strftime("%d/%m/%y") %></p><% end %> 
</div>
<div id="Eventos" class="col-md-12, well">
  <h3>Eventos</h3>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-12 col-md-12, row">
        <%- model_class = Evento -%><% @eventos.each do |evento| %>
        <div class="col-sm-4 col-md-6, thumbnail">
          <div class="thumbnail">
            <%= link_to (image_tag "726x342.png"), root_path %>
            <div class="caption text-center">
            <h3><%= truncate(evento.nome, :length => 160) %></h3>
            <a href="#" class="btn btn-warning" role="button">Informações</a></p>
          </div>
          </div>
        </div><% end %>
      </div>
    </div>
    </div>
</div>
</div>

