<%- model_class = Noticia -%>
<%#= render "xindex" %>
<%#= link_to "Nova", new_noticia_path, id: "new_link", remote: true %>
<%#= link_to t( '.new', :default=>t("helpers.links.Nova4 notícia")), new_noticia_path, :class => 'btn btn-primary', id: "new_link", remote: true %>
<!-- <h3>Aprováveis</h3> -->
<!--<div class="noticias" id="noticias aprovaveis">
  <%#= render @noticias_aprovaveis %>
  <%#= render @aprovaveis %>
</div>
<h3>Aprovados</h3>
<div class="noticias" id="noticias aprovadas">
  <%#= render @aprovados %>
</div>-->
<!-- <table class="table table-striped">  tornar isso um modal do tipo "Ações do Gerenciador (role ascom) para conteúdo" -->
...
<%# if can? :update, @noticia %>
<%#= render 'admin' %>
<%# end %>
<%# if can? :create, Noticia %>
<%#= render 'create' %>
<%# end %>
<% if can? :create, Noticia %>
  <p><%= link_to t( '.new', :default=>t("helpers.links.Minha Nova notícia")), new_noticia_path, :class => 'btn btn-primary' %></p>
<% end %>
<div id="noticias" class="col-md-12, well">
  <h3>Notícias</h3>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <%- model_class = Noticia -%><% @noticias.each do |noticia| %>
        <div class="col-sm-12 col-md-12, row, thumbnail">
          <p align="LEFT"> publicado em <%= noticia.publicado_em.strftime("%d/%m/%y às %H:%M") %> </p>
          <p align="CENTER"><strong><%= link_to noticia.titulo, noticia_path(noticia) %></strong></p>
          <div><%= truncate(noticia.conteudo.html_safe, :length => 800, :omission => "" , :escape => false) %>...&nbsp;<%= link_to 'Leia mais...', noticia_path(noticia) %></div>
        </div>
      <% end %>
    </div>
  </div>
  <h4>Outras notícias</h4>
  <%- model_class = Noticia -%>
  <% @pautas.each do |r| %>
    <p><%= r.publicado_em %> <%= link_to r.titulo, noticia_path(r) %></p>
  <% end %>
  <h4>Notícias antigas</h4>
  <%- model_class = Noticia -%>
  <% @antigas.each do |a| %>
    <p><%= a.publicado_em %> <%= link_to a.titulo, noticia_path(a) %></p>
  <% end %>
</div>