<p id="notice"><%= notice %></p>
<p>
  <h3><%= @noticia.titulo.html_safe %></h3>
</p>
<p>Notícia publicada em <%= @noticia.created_at.strftime("%d/%m/%y às %H:%M")%><br>
</p>
<p>
  <%= @noticia.conteudo.html_safe %>
</p>
<div>
  <% if can? :update, @noticia %>
    <%= link_to 'Editar', edit_noticia_path(@noticia) %> |
  <% end %>
  <%= link_to 'Voltar', noticias_path %>
</div>